@font-face {
    font-family: Borg;
    src: url(../fonts/Borg.ttf); 
}

header {
    height: 53px;
    position:absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 10;
}


.f-list {
    float: left;
    height: 53px;
    width: 42%;
}

.logo {
    width: 225px;
    display: block;
    margin: auto;
}

.logo img {
    display: block;
    margin: auto;
}

ul li {
    padding: 10px;
}

ul li a {
    font-family: "Roboto";
    font-size: 16px;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    color: rgb(217, 217, 214);
}

ul.nav-first, ul.nav-second, nav, .partners-list, .footer-menue{
    /*flex - establish flex container flex|inline-flex*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*flex-direction - define course of elements row|row-reverse|column|column-reverse*/
    /*flex-wrap define number or rows in container nowrap|wrap|wrap-reverse*/
    font-family: "Roboto";

}
ul.nav-first, ul.nav-second{
    /*flex-flow it's a reduction for properties above*/
    -webkit-flex-flow: row;
    /*justify-content define alignment of elements inside flex container
    flex-start|flex-end|center|space-between|space-around*/
    justify-content: space-around;
    margin-top: 4px;
}

ul.nav-second li {
    flex-grow: 1;
    text-align: center;
}

ul.nav-second li:nth-child(2) {
    flex-grow: 5;
}

.clearfix::after {
    clear: both;
}

#carousel .item img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.arrow-base {
    cursor: pointer;
    opacity: .2;
}

.arrow-base:hover {
    opacity: 1;
}

.left-arrow {
    float: left;
}

.right-arrow {
    float: right;
}

.arrows-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 120px;
    position: absolute;
    width: 97%;
    font-size: 100px;
    font-weight: 100;
}

.corousel-wrap {
    position: relative;
}

.search{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height:30px;
}
.search input, .mobile-search input{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    border:none;
    border-radius: 2px;
    color:white;
    font-size: 1.1em;
}
.search input:focus{
    outline-color:white;
}

.feeds {
    margin-top: 20px;
}
.row{
    height: 100%;
}
.row > div{
    height: 100%;
    padding:7px;
}

.image-wrapper img{
    width:100%;
    max-width: 400px;
    max-height: 300px;
    display:block;
    margin:auto;
}

article.feed{
    padding: 20px;
    display: block;
    margin: 0 auto;
    height: 0%;
    bottom: 7px;
    left: 7px;
    right: 7px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    text-align:justify;
    cursor:pointer;
    color:white;
    overflow:hidden;
    opacity: 0;
    font-family: "Roboto";
    font-size: 16px;
    transition: 0.5s all;

    white-space: pre-line; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

.image-wrapper:hover +article.feed{
    opacity:1;
    height: 70%;
}

article.feed:hover{
    opacity:1;
    height: 70%;
}

.detail-description{
    display: inline-block;
    margin-top:75px;
    max-width: 600px;
    font-family: "Borg";
}
.detail-description article{
    text-align: justify;
    font-family:"Roboto";
    color:gray;
}

.detail-description article h2{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color:black;
}

.detail-description article ul li{
    padding: 0;
}


.detail-description h3{
    font-size: 40px;
}

.main-product-image{
    width: 100%;
    margin-top:54px;
    text-align:center;
    display: inline-block;
}

.row .footer{
    height: 200px;
}

footer{
    background-color: rgba(0, 0, 0, .8);
    color:white;
    clear:both;
}
footer:nth-child(4){
    max-width: 300px;
}

.partners-list{
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items:center;
}


.footer-menue{
    -webkit-flex-flow:row;
    justify-content:center;
    margin:auto;
    margin-top: 30px;
}

.footer-menue li {
    font-size: 18px;
}

.footer-menue li a {
    font-size: 18px;
    margin-right: 20px;
}

.address, .email{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
}

.email{
   padding-bottom:30px;
}

.drop-down-button{
    display:none;
    font-size:30px;
    color:white;
    right: 15px;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
}

.mobile-menue{
    display:none;
}

.product-options{
    width: 300px;
    height:100px;
    margin: 0 auto;
}

.product-options li{
    float:left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.detail-description-bootstrap-column{
    text-align:center;
}

.search-result img{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.search-result h4{
    text-align: center;
    font-family: "Borg";
    font-size: 35px;
}



.search-panel{
    width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 3px;
    background-color: rgba(0,0,0, .8);
}
.search-panel > div{
    margin: auto;
    width: 320px;
}

.find-element-group, .sign-up-form{
    padding: 10px;
    text-align: right;
    font-family: "Roboto";
    font-size: 15px;
    color: #00155d;
}

.find-element-group{
    color:white;
}
.find-element-group input, .find-element-group select, .sign-up-form input{
    width: 210px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: none;
    margin-left: 14px;
}

.sign-up-container button{
    border: none;
    height: 30px;
    background-color: #00155d;;
    border-radius: 3px;
    font-family: Roboto;
    color: white;
    cursor:pointer;
}

.find-element-group input.range{
    width: 96px;
}
.user-func{
    color:white;
    cursor:pointer;
}
.user-func-mobile{
    font-size: 24px !important;
    margin: 0 20px 0 20px;
}

.sign-up-form{
    width: 320px;
    position:absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.sign-up-container img{
    width:100%;
}

@media (max-width: 1151px){

    ul.nav-first{
        display:none;
    }
    ul.nav-second{
        display:none;
    }
    .drop-down-button{
        display:block;
        position: absolute;
    }
    .mobile-menue{
        position: absolute;
        top: 100%;
        width:100%;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
    }
    .mobile-menue ul{
        margin-top:15px;
        text-align:center;
    }
    .mobile-search{
        margin-top:15px;
        width: 100%;
        text-align:center;
        display:none;
    }
    .mobile-search input{
        width:80%;
        height:30px;
        color:black;
        background-color:whitesmoke;
    }
}
@media (max-width: 767px){
    .left-arrow, .right-arrow {
        display:none;
    }
    .search{
        width:320px;
    }
    .corousel-wrap{
        top: 53px;
        margin-bottom: 53px;
    }
    header{
        background-color: rgba(0, 0, 0, .8);
    }
}

@media (max-width: 413px){
    .search{
        display:none;
    }
    .mobile-search{
        display:block;
    }
    .sign-up-form{
        top:53px;
    }
}