html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a, a:visited {
    text-decoration: none;
    color:white;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

body, html {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/*reset stylesheet*/

@font-face {
    font-family: "MyriadRegular";
    src: url("../fonts/MyriadPro-Regular.otf");
}

header {
    height: 53px;
    position:absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 10;
}


.f-list {
    float: left;
    height: 53px;
    width: 42%;
}

.logo {
    width: 225px;
    display: block;
    margin: auto;
}

.logo img {
    display: block;
    margin: auto;
}

ul li {
    padding: 10px;
}

ul li a {
    font-family: MyriadRegular;
    font-size: 16px;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    color: gray;
}

ul.nav-first, ul.nav-second, nav, .partners-list, .footer-menue{
    /*flex - establish flex container flex|inline-flex*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*flex-direction - define course of elements row|row-reverse|column|column-reverse*/
    /*flex-wrap define number or rows in container nowrap|wrap|wrap-reverse*/

}
ul.nav-first, ul.nav-second{
    /*flex-flow it's a reduction for properties above*/
    -webkit-flex-flow: row;
    /*justify-content define alignment of elements inside flex container
    flex-start|flex-end|center|space-between|space-around*/
    justify-content: space-around;
    margin-top: 4px;
}

ul.nav-second li {
    flex-grow: 1;
    text-align: center;
}

ul.nav-second li:nth-child(2) {
    flex-grow: 5;
}

.clearfix::after {
    clear: both;
}

#carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

.arrow-base {
    cursor: pointer;
    opacity: .2;
}

.arrow-base:hover {
    opacity: 1;
}

.left-arrow {
    float: left;
}

.right-arrow {
    float: right;
}

.arrows-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 120px;
    position: absolute;
    width: 97%;
    font-size: 100px;
    font-weight: 100;
}

.corousel-wrap {
    position: relative;
}

.search{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height:30px;
}
.search input, .mobile-search input{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    border:none;
    border-radius: 2px;
    color:white;
    font-size: 1.1em;
}
.search input:focus{
    outline-color:white;
}

.feeds {
    margin-top: 20px;
}
.row{
    height: 100%;
}
.row > div{
    height: 100%;
    padding:7px;
}

.image-wrapper img{
    width:100%;
    max-width: 400px;
    max-height: 300px;
    display:block;
    margin:auto;
}

article{
    padding: 20px;
    display: block;
    margin: 0 auto;
    height: 70%;
    bottom: 7px;
    left: 7px;
    right: 7px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    text-align:justify;
    cursor:pointer;
    color:white;
    overflow:hidden;
    opacity: 0.5;
}

article:hover{
    opacity:1;
}

.row .footer{
    height: 200px;
}
footer{
    background-color: rgba(0, 0, 0, .8);
    color:white;
}
.partners-list{


    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items:center;
}


.footer-menue{
    -webkit-flex-flow:row;
    justify-content:center;
    margin:auto;
    margin-top: 30px;
}
.footer-menue li {
    font-size: 18px;
}
.footer-menue li a {
    font-size: 18px;
    margin-right: 20px;
}
.address, .email{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.email{
   padding-bottom:30px;
}
.drop-down-button{
    display:none;
    font-size:30px;
    color:white;
    right: 10px;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
}
.mobile-menue{
    display:none;
}

@media (max-width: 1151px){

    ul.nav-first{
        display:none;
    }
    ul.nav-second{
        display:none;
    }
    .drop-down-button{
        display:block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .mobile-menue{
        position: absolute;
        top: 100%;
        width:100%;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
    }
    .mobile-menue ul{
        margin-top:15px;
        text-align:center;
    }
    .mobile-search{
        margin-top:15px;
        width: 100%;
        text-align:center;
        display:none;
    }
    .mobile-search input{
        width:80%;
        height:30px;
        color:black;
        background-color:whitesmoke;
    }
}
@media (max-width: 767px){
    .left-arrow, .right-arrow {
        display:none;
    }
    .search{
        width:320px;
    }
    .corousel-wrap{
        top: 53px;
        margin-bottom: 53px;
    }
    header{
        background-color: rgba(0, 0, 0, .8);
    }
}

@media (max-width: 413px){
    .search{
        display:none;
    }
    .mobile-search{
        display:block;
    }
}









