html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a, a:visited {
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

body, html {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/*reset stylesheet*/

@font-face {
    font-family: "MyriadRegular";
    src: url("../fonts/MyriadPro-Regular.otf");
}

header {
    height: 53px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
}

.f-list {
    float: left;
    height: 53px;
    width: 42%;
}

.logo {
    width: 225px;
    display: block;
    margin: auto;
}

.logo img {
    display: block;
    margin: auto;
}

ul li {
    padding: 10px;
}

ul li a {
    font-family: MyriadRegular;
    font-size: 16px;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    color: gray;
}

ul.nav-first, ul.nav-second {
    /*flex - establish flex container flex|inline-flex*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*flex-direction - define course of elements row|row-reverse|column|column-reverse*/
    /*flex-wrap define number or rows in container nowrap|wrap|wrap-reverse*/
    /*flex-flow it's a reduction for properties above*/
    -webkit-flex-flow: row;
    /*justify-content define alignment of elements inside flex container
    flex-start|flex-end|center|space-between|space-around*/
    justify-content: space-around;
    margin-top: 4px;
}

ul.nav-second li {
    flex-grow: 1;
    text-align: center;
}

ul.nav-second li:nth-child(2) {
    flex-grow: 5;
}

.clearfix::after {
    clear: both;
}

#carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

.arrow-base {
    cursor: pointer;
    opacity: .2;
}

.arrow-base:hover {
    opacity: 1;
}

.left-arrow {
    float: left;
}

.right-arrow {
    float: right;
}

.arrows-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 120px;
    position: absolute;
    width: 97%;
    font-size: 100px;
    font-weight: 100;
}

.corousel-wrap {
    position: relative;
}

.search{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height:30px;
}
.search input{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    border:none;
    border-radius: 1px;
    color:white;
    font-size: 1.1em;
}
.search input:focus{
    outline-color:white;
}

.feeds {
    margin-top: 20px;
}
.row{
    height: 100%;
}
.row > div{
    height: 100%;
    padding:7px;
}

.image-wrapper img{
    width:100%;
    max-width: 446px;
    max-height: 302px;
}

article{
    padding: 20px;
    display: block;
    margin: 0 auto;
    height: 70%;
    bottom: 11px;
    left: 7px;
    right: 7px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    text-align:justify;
    cursor:pointer;
    color:white;
    overflow:hidden;
    opacity: 0.7;
}

article:hover{
    opacity:1;
}



.row .footer{
    height: 200px;
}
footer{
    background-color: rgba(0, 0, 0, .8);
    color:white;
}
.partners-list{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    width:50%;
    margin:auto;
}


.footer-menue{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow:row;
    justify-content:center;
    margin:auto;
    margin-top: 30px;
}
.footer-menue li {
    font-size: 18px;
}
.footer-menue li a {
    font-size: 18px;
    margin-right: 20px;
}
.address{
    display: block;
    width: 459px;
    margin: auto
}

.email{
    display: block;
    width: 181px;
    margin: auto;
}









